@charset "UTF-8";
body {
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.inteface{
    padding: 20px;    
}
/*==========
    MENU
============*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #007bff;
    color: white;
}


#nav{
    display: block-inline;
    background: black;
    height: 30px;
    float: right;
}
#nav h1{
    font-size: 15px; 
    margin-top: 5px;
}

#nav2{
    display: block-inline;
    background: black;
    height: 30px;

}
.img{
    float: right;
    margin-top: -20px;
}

   /* #facebook{
    font-size:40px;
    color: blue; 
    margin-left: 30px;
   
        
    }
    #instagram{
        font-size:30px;
        color:maroon;
        text-align: center;
    }*/
   footer{
       background-color: #686868;
   }



@media (min-width: 702px) {
    #nav1{ 
        display: none;
    }
    
   
}
@media (max-width:701px ) {
    #top, .img{
        display: none;

    }
    footer{
        background-color:#17a2b8; 
    }

}